/*doctype css*/

/*--------------------------------------------------------------------------------*/
/*BODY  http://www.w3schools.com/jquerymobile/tryit.asp?filename=tryjqmob_trans_flow*/
/*--------------------------------------------------------------------------------*/
body{
	color: #E0E8F0;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15pt;
	font-weight: 300 !important;
	letter-spacing: -0.025em;
	line-height: 1.75em;
	background: #1B042F; /* #1C1D26*/
}
	body.loading * {
		-moz-animation: none !important;
		-webkit-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
	h3{
		font-size: 1.8em;
	}
	video{
		vertical-align: middle;
		max-width: 100%;
	}
		/*Mobile media self-adjusting*/
		@media screen and (max-width: 500px) {
		  iframe{
		  	max-width: 100%;
		  	overflow: auto;
		  	overflow-y: hidden; 
		  	-webkit-overflow-scrolling: touch;
		  	white-space: nowrap;
		  }
		  .section{
		  	-webkit-overflow-scrolling: touch;
		  }

		}

	/*Containers & NavBar*/
	.navbar-brand{
		font-size: 1.4em;
	}

	.navMid{
		padding-top: 31px;
		background-color: #232323;
		margin: 0 auto;
	}
	.bold{
		font-weight: bold;
	}
	.margin-top{
		margin-top: 30px;
	}
	.center{
		text-align: center;
	}
	.title{
		margin-top: 100px;
		font-size: 300%;
	}
	.margin-bottom{
		margin-bottom: 30px;
	}
	.color{
		color: #2E2E2E; /*#1C1D26*/
	}
	.red{
		color: #BF2E25;
	}
	.green{
		color: #009900;
	}
	.bottom{
		position: relative;
		bottom: 10%;
		font-size: 3em;
	}

		#topContainer{
			background-color: #1b042f; /*#1C1D26*/
			width: 100%;
			background-size: cover;
		}
		#midContainer{
			background-image: url("images/purple wall.jpg");
			width: 100%;
			background-size: cover;
			color: white; 
			position: relative;
		}
		#endContainer{
			padding-top: 100px;
			/*background-color: #27072C; #305050*/
			background-size: cover;
			width: 100%;
			color: #E0E8F0;
		}
		#info{
			height: 96vh;
		}
			#info p{
				color: #FFFFF0;
			}
		#email{
			max-width: 100%;
		}
		#quote{
			color: #FF4D4D;
			font-size: 1.05em;
		}
			#quote b{
				color: #E66A65;
			}

	/*PROJECTS*/
	.bar{
		height: 25px;
		overflow: hidden;
		margin: 0 auto;
		white-space: nowrap;
	}
		.bar b{
			color: #D0C0D0;
		}
	.section{
		height: 320px;
		overflow: auto;
		overflow-y: hidden;
		margin: 0 auto;
		white-space: nowrap;
	}
	.imgSize{
		max-height: 300px;
		width: auto;
		max-width: 100%;
		vertical-align: middle;
	}
	.title{
		color: #3798e8;
		font-size: .8em;
	}

	.firstIn{
		display: inline-block;
		vertical-align:top;
		height: 320px;
		width: auto;
	}

	.secOnward{
		display: inline-block;
		vertical-align:top;
		margin-left: 20px;
		height: 320px;
		width: auto;
	}
	.vertCenter{
		line-height: 300px;
		text-align: center;
	}
	.right{
		position: relative;
		color: #3798e8;
		float: right;
	}
	.hide{
		display: none;
	}

/*--------------------------------------------------------------------------------*/
/*LINKS*/
/*--------------------------------------------------------------------------------*/
a {
	-moz-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-webkit-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-o-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-ms-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
	transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
	color: #E0E8F0;
	text-decoration: none;
}

	a:hover {
		color: #E44C65 !important;
		border-bottom-color: transparent;
		text-decoration: none;
	}

	a:visited{
		color: #E0E8F0;
		text-decoration: none;
	}

/*--------------------------------------------------------------------------------*/
/*FONTS & ICONS*/
/*--------------------------------------------------------------------------------*/
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");
@font-face{
	font-family:'FontAwesome';
	src:url('fonts/fontawesome-webfont.eot?v=4.3.0');
	src:url('fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') 
	format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff2?v=4.3.0') 
	format('woff2'),url('fonts/fontawesome-webfont.woff?v=4.3.0') 
	format('woff'),url('fonts/fontawesome-webfont.ttf?v=4.3.0') 
	format('truetype'),url('fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular')
}
.fa-youtube-square:before{content:"\f166";}
.fa-youtube:before{content:"\f167";}
.fa-youtube-play:before{content:"\f16a";}
.fa-twitter-square:before{content:"\f081";}
.fa-twitter:before{content:"\f099";}
.fa-facebook-square:before{content:"\f082";}
.fa-facebook-f:before,.fa-facebook:before{content:"\f09a";}
.fa-facebook-official:before{content:"\f230";}
.fa-soundcloud:before{content:"\f1be"}
.fa-linkedin-square:before{content:"\f08c";}
.fa-linkedin:before{content:"\f0e1";}
.fa-github-square:before{content:"\f092";}
.fa-github:before{content:"\f09b";}
.fa-github-alt:before{content:"\f113";}

/*--------------------------------------------------------------------------------*/
/*HR*/
/*--------------------------------------------------------------------------------*/
hr
{
	position: relative;
	display: block;
	border: 0;
	height: 6px;
	border-top: solid 4px rgba(128,128,128,0.2);
	border-bottom: solid 4px rgba(128,128,128,0.2);
}

	hr:before,
	hr:after
	{
		content: '';
		position: absolute;
		display: block;
		width: 1px;
		background: rgba(128,128,128,0.2);
	}

	hr:before
	{
		left: -1px;
	}

	hr:after
	{
		right: -1px;
	}

/*--------------------------------------------------------------------------------*/
/*ICON*/
/*--------------------------------------------------------------------------------*/
.icon {
	text-decoration: none;
}

	.icon:before {
		display: inline-block;
		font-family: FontAwesome;
		font-size: 1.25em;
		text-decoration: none;
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing:antialiased;
		-moz-osx-font-smoothing:grayscale;
	}

	.icon > .label {
		display: none;
	}

	.icon.featured
	{
		color: #EA8A95;
		display: block;
		margin: 0 0 1.5em 0;
		cursor: default;
	}

	.icon.featured:before
	{
		font-size: 6em;
	}

/*--------------------------------------------------------------------------------*/
/*LIST*/
/*--------------------------------------------------------------------------------*/

ul{
	padding: 0;
	margin: 0;
}

	ul.default
	{
		list-style: disc;
		padding-left: 1em;
	}

	ul.default li
	{
		padding-left: 0.5em;
	}

	ul.social
	{
		cursor: default;
		margin: 0;
	}

	ul.social li
	{
		position: relative;
		display: inline-block;
		margin: 0.25em;
		top: 0;
	}

	ul.social li a {
		display: block;
		width: 48px;
		height: 48px;
		border-radius: 6px;
		top: 0;
		position: relative;

			-moz-transition: top .2s ease-in-out;
			-webkit-transition: top .2s ease-in-out;
			-o-transition: top .2s ease-in-out;
			-ms-transition: top .2s ease-in-out;
			transition: top .2s ease-in-out;
	}

	ul.social li a:before {
		background-color: #444;
		background-image: url('images/bg.png'),   -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
		background-image: url('images/bg.png'),   -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
		background-image: url('images/bg.png'),   -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
		background-image: url('images/bg.png'),   -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
		background-image: url('images/bg.png'),   linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
		border-radius: 6px;
		box-shadow: inset 0px 0px 0px 1px #282828, inset 0px 2px 1px 0px rgba(255,255,255,0.1);
		color: #2E2E2E !important;
		display: block;
		font-size: 26px;
		height: 48px;
		line-height: 48px;
		text-align: center;
		outline: 0;
		overflow: hidden;
		text-shadow: 1px 1px 0px rgba(255,255,255,0.1);
		width: 48px;

			-moz-transition: background-color .2s ease-in-out;
			-webkit-transition: background-color .2s ease-in-out;
			-o-transition: background-color .2s ease-in-out;
			-ms-transition: background-color .2s ease-in-out;
			transition: background-color .2s ease-in-out;
	}

	ul.social li a.fa-twitter   { background-color: #2DAAE4; }
	ul.social li a.fa-facebook    { background-color: #3C5A98; }
	ul.social li a.fa-linkedin    { background-color: #006599; }
	ul.social li a.fa-google-plus { background-color: #DA2713; }
	ul.social li a.fa-github    { background-color: #FAFAFA; }
	ul.social li a.fa-soundcloud  { background-color: #FE5419; }
	ul.social li a.fa-youtube   { background-color: #BF2E25; }

	ul.social li a:hover
	{
		top: -5px;
	}

	ul.social li a:hover:before
	{
		background-color: transparent;
	}

	ul.actions li
	{
		display: inline-block;
		margin: 0 0 0 1em;
	}

	ul.actions li:first-child
	{
		margin-left: 0;
	}

/*--------------------------------------------------------------------------------*/
/* Banner */
/*--------------------------------------------------------------------------------*/

#banner {
	background-attachment: fixed;
	background-color: #1D0433; /* #272833*/
	background-position: center center;
	background-size: cover;
	box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
	min-height: 100vh;
	position: relative;
	text-align: center;
	z-index: 21;
}

	#banner:before {
		content: '';
		display: inline-block;
		height: 100vh;
		vertical-align: middle;
		width: 0;
	}

	#banner:after {
		background-image: -moz-linear-gradient(top, rgba(23, 24, 32, 0.95), rgba(23, 24, 32, 0.95)), url("images/overlay.png");;
		background-image: -webkit-linear-gradient(top, rgba(23, 24, 32, 0.95), rgba(23, 24, 32, 0.95)), url("images/overlay.png");;
		background-image: -o-linear-gradient(top, rgba(23, 24, 32, 0.95), rgba(23, 24, 32, 0.95)), url("images/overlay.png");;
		background-image: -ms-linear-gradient(top, rgba(23, 24, 32, 0.95), rgba(23, 24, 32, 0.95)), url("images/overlay.png");;
		background-image: linear-gradient(top, rgba(23, 24, 32, 0.95), rgba(23, 24, 32, 0.95)), url("images/overlay.png");;
		content: '';
		display: block;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

	#banner .content {
		display: inline-block;
		max-width: 98%;
		padding: 4em 0 2em 0;
		position: relative;
		text-align: right;
		vertical-align: middle;
		z-index: 1;
	}

		#banner .content header {
			display: inline-block;
			vertical-align: middle;
		}

			#banner .content header h2 {
				font-size: 2em;
				margin: 0;
			}

			#banner .content header p {
				margin: 0.5em 0 0 0;
				top: 0;
				font-size: 0.9em;
			}

		#banner .content .image {
			border-radius: 100%;
			display: inline-block;
			height: 10em;
			margin-left: 2em;
			vertical-align: middle;
			width: 10em;
			float: left;
		}

			#banner .content .image img {
				border-radius: 10%;
				display: block;
				width: 100%;
			}

body.is-touch #banner {
	background-attachment: scroll;
}
